
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Session</div>
    <table class="table">
        <tr><th>Session ID</th><td>@Session.SessionID</td></tr>
        <tr><th>Is New?</th><td>@Session.IsNewSession</td></tr>
        <tr><th>State Data Count</th><td>@Session.Count</td></tr>
    </table>
</div>

@using (Html.BeginForm())
{
    <div class="checkbox">
        <label>@Html.CheckBox("store") Store State Data</label>
    </div>
    <div class="checkbox">
        <label>@Html.CheckBox("abandon") Abandon Session</label>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
}